
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
    color: #333;
}


header {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: 600;
}
.logo span {
    color: #ff7bb1;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.2s;
}

.nav-links li a:hover {
    color: #ff7bb1;
}


.banner {
    height: 70vh;
    background: url("https://www.estadao.com.br/resizer/oFDrDp3xgfze9zuyNaR5gnyURVA=/arc-anglerfish-arc2-prod-estadao/public/FIVYQFU6J5ND3PYRA6XQHR4NW4.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.banner-text {
    background: rgba(0,0,0,0.4);
    padding: 20px 30px;
    border-radius: 10px;
    color: #fff;
    max-width: 400px;
}

.banner-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.banner-text p {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background:#ff7bb1;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #ff4c92;
}


.destaques {
    padding: 60px 20px;
    text-align: center;
}

.destaques h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding-bottom: 20px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
}

.card p {
    padding: 0 15px;
    color: #666;
}


.sobre-home {
    padding: 70px 20px;
    background: #fff0f6;
}

.sobre-text {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.sobre-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.sobre-text p {
    margin-bottom: 20px;
    color: #555;
    font-size: 17px;
}


.footer {
    background: #333;
    color: #ddd;
    padding: 40px 20px 20px;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 6px;
}

.footer-section a {
    color: #ddd;
    text-decoration: none;
    transition: 0.2s;
}

.footer-section a:hover {
    color: #ff7bb1;
}

.copy {
    text-align: center;
    margin-top: 25px;
    border-top: 1px solid #555;
    padding-top: 15px;
    font-size: 14px;
}

@media (max-width: 820px) {
    .nav-links {
        display: none; 
    }

    .banner {
        padding-left: 20px;
        height: 50vh;
    }

    .banner-text h2 {
        font-size: 24px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}
